.Label--green {
  font-weight: bold;
  background: #e6f4ea;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 8px;
  color: #137333;
}

.Label--red {
  font-weight: bold;
  background: #fce8e6;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 8px;
  color: #a50e0e;
}
