.grid-text--green {
  color: #137333;
}

.grid-text--red {
  color: #a50e0e;
}

.grid-text--grey {
  color: #616161;
}

td.right-align {
  display: flex;
  justify-content: flex-end;
}

.ui.label {
  color: white !important;
  width: 100% !important;
}

td.one.wide.ticker-label {
  padding-right: 0px !important;
}

table {
  border-radius: 0 !important;
  border-top: 1px solid rgba(34,36,38,.1) !important;
  border-bottom: 1px solid rgba(34,36,38,.1) !important;
}

i.circular.icon {
  box-shadow: none;
  color: #80868b;
}

.ui.selectable.table tbody tr:hover {
  background: #f8f9fa !important;

  .remove-icon {
    visibility: visible;
  }
}

.remove-icon {
  visibility: hidden;

  &:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(34, 36, 38, 0.1) 0px 0px 0px 1px !important;
  }
}
